
@{
    ViewData["Title"] = "ขอบคุณที่ติดต่อเรา";
}

<h1>ขอบคุณที่ติดต่อเรา</h1>
<div>ทางเราขอขอบคุณ @ViewData["name"] เมื่อเจ้าหน้าที่รับเรื่องเเล้วทางเราจะติดต่อกับไปที่
    @ViewData["email"] โดยด่วน</div>

