@{
    ViewData["Title"] = "Home Page";
}

@if (ViewData["ShowAlert"] != null && (bool)ViewData["ShowAlert"] == true)
{
    <div class="alert alert-success" role="alert">
        ขอขอบคุณ @(ViewData["name"]) ทางเราจะติดต่อกลับไปที่ @(ViewData["email"])
    </div>
    <text>
        ขอบคุณครับ @ViewData["ShowAlert"];
    </text>
    @:ข้อความนี้เป็นข้อความใน HTML ไม่ใช่ C#
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>